ELEARNING_BASE_URL=https://elearning.sma1klaten.sch.id
ELEARNING_USER_A=username_siswa
ELEARNING_PASS_A=password_siswa
# Akun kedua (opsional, WAJIB izin pemilik):
# ELEARNING_USER_B=
# ELEARNING_PASS_B=
TELEGRAM_BOT_TOKEN=123456:ABC-xxx
TELEGRAM_CHAT_ID=5973612133
TZ=Asia/Jakarta
